<div class="card mt-4">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="card bg-primary">
          <div class="card-body">
            <h5 class="card-title">Renda Mensal</h5>
            <p class="card-text text-white font-weight-bold display-6">R$ {{ metrics.total_inflows }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-danger">
          <div class="card-body">
            <h5 class="card-title">Total Gasto/Mês</h5>
            <p class="card-text text-white font-weight-bold display-6">{{ metrics.total_outflows }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-success">
          <div class="card-body">
            <h5 class="card-title">Valor Disponível</h5>
            <p class="card-text text-white font-weight-bold display-6">R$ {{ metrics.total_profit }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-warning">
          <div class="card-body">
            <h5 class="card-title">Total Investido</h5>
            <p class="card-text text-white font-weight-bold display-6">R$ {{ metrics.total_investiments }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>